__pycache__/
.tio.tokens.json

bot_data.db
avatars.json
secrets.json
config.json
redeems.json
redeems backup.json
greetings.json

variables_non_db.json

commands_secret.py

secrets.zip
secrets - Copy.json

run.bat
