astral==3.2
ChineseNewYear-Zodiac==1.0.0
cryptography==46.0.4
keyboard==0.13.5
num2words==0.5.14
prompt_toolkit==3.0.52
requests==2.32.5
twitchio==3.1.0
Webhook-Listener==1.2.0
websockets==15.0.1
